In [2]:
import pandas as pd
import numpy as np
# 2. Write the following codes using pandas:
# (a) Create a DateFrame df
# +-------+------+------+------+------+------+---+
# | | AZ | PT | VW | KK | PQ | C |
# +-------+------+------+------+------+------+---+
# | r5303 | 0.58 | 0.33 | 0.05 | 0.34 | 0.04 | 1 |
# | r6578 | 0.68 | 0.59 | 0.73 | 0.87 | 0.32 | 1 |
# | r7750 | 0.75 | 0.74 | 0.56 | 0.06 | 0.86 | 1 |
# | r5481 | 0.55 | 0.47 | 0.85 | 0.12 | 0.03 | 0 |
# +-------+------+------+------+------+------+---+
# (b) Print the number of rows of df
# (c) Count the number of rows with each label of column C
# (d) Select and order top 2 entries of column PT
# (e) Select a subset of df as follows:
# +-------+------+------+------+
# | | PT | VW | KK |
# +-------+------+------+------+
# | r5303 | 0.33 | 0.05 | 0.34 |
# | r7750 | 0.74 | 0.56 | 0.06 |
# +-------+------+------+------+
# (f) Print the maximum value in each column except the last column C

In [4]:
df = pd.DataFrame(
{"AZ" : [0.58,0.68,0.75,0.55],
 "PT" : [0.33,0.59,0.74,0.47],
 "VW" : [0.05,0.73,0.56,0.85],
 "KK" : [0.34,0.87,0.06,0.12],
 "PQ" : [0.04,0.32,0.86,0.03],
 "C" : [1,1,1,0]},
index = ["r5303","r6578","r7750","r5481"]
)

In [5]:
df.head() #a

         AZ    PT    VW    KK    PQ  C
r5303  0.58  0.33  0.05  0.34  0.04  1
r6578  0.68  0.59  0.73  0.87  0.32  1
r7750  0.75  0.74  0.56  0.06  0.86  1
r5481  0.55  0.47  0.85  0.12  0.03  0

In [6]:
print(len(df)) #b

4

In [7]:
print(df.value_counts("C")) #c

C
1    3
0    1
Name: count, dtype: int64

In [8]:
print(df.nlargest(2,"PT")) #d

         AZ    PT    VW    KK    PQ  C
r7750  0.75  0.74  0.56  0.06  0.86  1
r6578  0.68  0.59  0.73  0.87  0.32  1

In [18]:
#worse way to do d
print(df.sort_values("PT",ascending=False).iloc[:2])
#iloc = index location. remember

         AZ    PT    VW    KK    PQ  C
r7750  0.75  0.74  0.56  0.06  0.86  1
r6578  0.68  0.59  0.73  0.87  0.32  1

In [26]:
print(df.loc[["r5303","r7750"], ["PT","VW","KK"]]) #e

         PT    VW    KK
r5303  0.33  0.05  0.34
r7750  0.74  0.56  0.06

In [34]:
print(df.iloc[[0:3:2], ["PT","VW","KK"]]) #e again. need to fix

SyntaxError: invalid syntax (3169174437.py, line 1)

In [35]:
#f
print(df.iloc[:,:-1].max())

AZ    0.75
PT    0.74
VW    0.85
KK    0.87
PQ    0.86
dtype: float64

In [37]:
print(df.loc[:, "AZ":"PQ"].max())#f

AZ    0.75
PT    0.74
VW    0.85
KK    0.87
PQ    0.86
dtype: float64

In [38]:
print(df.drop(columns="C").max())#f

AZ    0.75
PT    0.74
VW    0.85
KK    0.87
PQ    0.86
dtype: float64